In [29]:
import pandas as pd

In [30]:
dataset_path = "D:/aita/aita_clean.csv"

In [31]:
aita_df = pd.read_csv(dataset_path)
aita_df.head()

,id,timestamp,title,body,edited,verdict,score,num_comments,is_asshole
0,arfcfl,1550365421,AITA - Getting Hugged At The Bar,\n\nThis all happened less than an hour ago.\...,False,not the asshole,3,14,0
1,cg8mxn,1563769917,AITA if i don't want to pay my friend 5 dollar...,"So, my friend bought herself, our other friend...",False,asshole,11,42,1
2,bajsje,1554663842,AITA For going to 'expensive' restaurants in s...,It's in Seattle if that matters. It seems peop...,1554686830.0,asshole,657,397,1
3,cq6voc,1565771883,"AITA for wanting ""free gas"", due to an attenda...",I was with my dad and driving the family car w...,1565773989.0,not the asshole,49,40,0
4,bz4m2k,1560207411,AITA I asked my dad to replace the fuel that h...,Am I the asshole for asking my dad to replace ...,False,not the asshole,4,10,0

In [32]:
# replace nan values in body with empty string
print("nan body count: ", aita_df.body.isna().sum())
aita_df.body = aita_df.body.fillna("")

nan body count:  7

In [33]:
# remove \n from body
aita_df.body = aita_df.body.str.replace("\n", " ")

In [34]:
# get title and body word counts
word_count = lambda text: len(text.split())
aita_df["title_word_count"] = aita_df["title"].apply(word_count)
aita_df["body_word_count"] = aita_df["body"].apply(word_count)
aita_df.head()

,id,timestamp,title,body,edited,verdict,score,num_comments,is_asshole,title_word_count,body_word_count
0,arfcfl,1550365421,AITA - Getting Hugged At The Bar,This all happened less than an hour ago. I...,False,not the asshole,3,14,0,7,368
1,cg8mxn,1563769917,AITA if i don't want to pay my friend 5 dollar...,"So, my friend bought herself, our other friend...",False,asshole,11,42,1,16,66
2,bajsje,1554663842,AITA For going to 'expensive' restaurants in s...,It's in Seattle if that matters. It seems peop...,1554686830.0,asshole,657,397,1,12,157
3,cq6voc,1565771883,"AITA for wanting ""free gas"", due to an attenda...",I was with my dad and driving the family car w...,1565773989.0,not the asshole,49,40,0,10,342
4,bz4m2k,1560207411,AITA I asked my dad to replace the fuel that h...,Am I the asshole for asking my dad to replace ...,False,not the asshole,4,10,0,17,519

In [35]:
ex1 = aita_df.iloc[0]
ex1

id                                                             arfcfl
timestamp                                                  1550365421
title                                AITA - Getting Hugged At The Bar
body                   This all happened less than an hour ago.  I...
edited                                                          False
verdict                                               not the asshole
score                                                               3
num_comments                                                       14
is_asshole                                                          0
title_word_count                                                    7
body_word_count                                                   368
Name: 0, dtype: object

In [36]:
aita_df.describe()

,timestamp,score,num_comments,is_asshole,title_word_count,body_word_count
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,1.558404e+09,294.338700,86.674300,0.259300,12.123500,331.320700
std,1.903894e+07,1746.261561,319.462981,0.438272,4.845183,166.991931
min,1.393285e+09,3.000000,1.000000,0.000000,1.000000,0.000000
25%,1.555375e+09,5.000000,14.000000,0.000000,9.000000,203.000000
50%,1.562022e+09,10.000000,23.000000,0.000000,11.000000,307.000000
75%,1.567390e+09,39.000000,46.000000,1.000000,14.000000,447.000000
max,1.580435e+09,43456.000000,10491.000000,1.000000,60.000000,2352.000000

In [37]:
aita_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                10000 non-null  object
 1   timestamp         10000 non-null  int64
 2   title             10000 non-null  object
 3   body              10000 non-null  object
 4   edited            10000 non-null  object
 5   verdict           10000 non-null  object
 6   score             10000 non-null  int64
 7   num_comments      10000 non-null  int64
 8   is_asshole        10000 non-null  int64
 9   title_word_count  10000 non-null  int64
 10  body_word_count   10000 non-null  int64
dtypes: int64(6), object(5)
memory usage: 859.5+ KB

In [38]:
aita_df.verdict.value_counts()

verdict
not the asshole     6119
asshole             1988
no assholes here    1288
everyone sucks       605
Name: count, dtype: int64